

@model IEnumerable<HelloMVCapllication.Models.User>

<h2>Такой пользователь не зарегистрирован в системе.</h2>


<p>
    <a asp-controller="Home" asp-action="Logging">Вход</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Create">Регистрация</a>
</p>

